{
  "parser": "babel-eslint",
  "plugins": ["functional"],
  "extends": [
    "eslint:recommended",
    "plugin:functional/external-recommended",
    "plugin:functional/recommended",
    "plugin:functional/stylitic"
  ],
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "no-unused-vars": "off",
    "functional/no-conditional-statement": "off",
    "functional/functional-parameters": "off",
    "functional/no-expression-statement": "off",
    "functional/immutable-data": "off"
  }
}